* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --beige: #fef6ed;
  --darkgreen: #045416;
  --lightgreen: #658f6f;
  --yellow: #f2c15f;
}

body {
  background-color: var(--beige);
}

html {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin: 2rem;
  background-color: var(--beige);
}

header {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: var(--beige);
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  font-family: Cambria, "Times New Roman";
  text-transform: uppercase;
  padding: 1.5%;

  /*fjern user agent stylesheet i browser (chrome)*/
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

footer {
  background-color: var(--darkgreen);
  height: 0%;
  margin-top: 3rem;
}

#footertekst {
  color: var(--beige);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  font-family: "Miller Banner", "Times New Roman";
  font-style: italic;
  text-transform: uppercase;
  font-size: 2.6rem;
  text-align: center;
  margin-left: 0%;
}

/****************************************tekst***************************************/
h1 {
  color: var(--darkgreen);
  font-family: "Miller Banner", "Times New Roman";
  font-style: italic;
  text-transform: uppercase;
  font-size: 3.5rem;
}

h5 {
  color: var(--darkgreen);
  font-family: "Miller Banner", "Times New Roman";
  font-style: italic;
  text-transform: uppercase;
  font-size: 3.5rem;
}

h2 {
  color: var(--darkgreen);
  font-family: "cambria";
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 2rem;
}

h3 {
  color: var(--darkgreen);
  font-family: "cambria";
  text-transform: uppercase;
  font-weight: lighter;
}

h4 {
  color: var(--beige);
  font-family: "Miller Banner", "Times New Roman";
  font-size: 2rem;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: lighter;
}

p {
  font-family: "Cambria", Georgia, Times, "Times New Roman", serif;

  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.overskrift_center {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 1rem;
}

.overskrift_left {
  text-decoration: underline;
}

.tekst_center {
  text-align: center;
}

.h1_port {
  color: var(--darkgreen);
  font-family: "Miller Banner", "Times New Roman";
  font-style: italic;
  text-transform: uppercase;
  font-size: 3rem;
}

.h2_port {
  color: var(--darkgreen);
  font-family: "cambria";
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

hr {
  border: 1px solid var(--darkgreen);
  margin-bottom: 1rem;
}

/****************************************Margin***************************************/
.margin_top1 {
  margin-top: 1rem;
}
.margin_bottom1 {
  margin-bottom: 1rem;
}

.margin_top2 {
  margin-top: 2rem;
}
.margin_bottom2 {
  margin-bottom: 2rem;
}

.margin_bottom3 {
  margin-bottom: 3rem;
}

.margin_top4 {
  margin-top: 4rem;
}
.margin_bottom4 {
  margin-bottom: 4rem;
}

/****************************************Padding***************************************/
.padding1 {
  padding: 1rem;
}

.padding_top2 {
  padding-top: 2rem;
}

.padding_bottom2 {
  padding-bottom: 2rem;
}

.padding_bottom1 {
  padding-bottom: 0.7rem;
}

/****************************************Design***************************************/
.greenbox {
  background-color: var(--lightgreen);
  padding: 2rem;
}

.knap1 {
  background-color: var(--darkgreen);
  color: var(--yellow);
  font-family: "Miller Banner", "Times New Roman";
  padding: 2% 7%;
  border-radius: 50px;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.knap2 {
  background-color: var(--darkgreen);
  color: var(--beige);
  font-family: "Miller Banner", "Times New Roman";
  padding: 2% 7%;
  border-radius: 50px;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.knap3 {
  background-color: var(--darkgreen);
  color: var(--yellow);
  font-family: "Miller Banner", "Times New Roman";
  padding: 2% 7%;
  border-radius: 50px;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

video {
  width: 100%;
}

.header {
  padding-top: 4.5rem;
  padding-bottom: 1rem;
  height: 1.5rem;
  width: 100%;
}

/****************************************Burgermenu***************************************/

li {
  list-style: none;
}

a {
  color: #045416;
  text-decoration: none;
}

.navbar {
  position: fixed;
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
  margin-top: 0;
  background-color: var(--beige);
  width: 100%;
  top: 0;
  max-width: 1270px;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
  margin-right: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}
/* virker ikke */
.nav-link :hover {
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #045416;
}

@media (max-width: 1020px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    padding-top: 10%;
    flex-direction: column;
    background-color: #f2c15f;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
    right: 0;
    background-color: var(--beige);
  }
}

/****************************************media***************************************/

/*********************desktop*********************/

@media (min-width: 768px) {
  /*********************tekst*********************/
  h1 {
    font-size: 7rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  #footertekst {
    font-size: 7rem;
  }
}

@media (min-width: 1020px) {
  /*********************layout*********************/

  .grid2x1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .flex1x2 {
    display: flex;
    flex-direction: column;
  }
  .flex1x2 :last-child {
    margin-top: auto;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .grid2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 5rem;
  }
  .inspi_img {
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .inspiration {
    padding-bottom: 2rem;
  }

  .grid2x1_2 {
    display: grid;
    grid-template-columns: repeat(2, 0.25fr);
    gap: 2rem;
    margin-top: 1.5rem;
  }

  /*********************billede*********************/
  #img_om_mig {
    display: block;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
  }
  /*********************tekst*********************/

  h1 {
    font-size: 6rem;
  }

  .h2_port {
    color: var(--darkgreen);
    font-family: "cambria";
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 5rem;
  }

  /*********************knapper*********************/

  .knap1 {
    background-color: var(--darkgreen);
    color: var(--yellow);
    font-family: "Miller Banner", "Times New Roman";
    padding: 1% 7%;
    border-radius: 50px;
    font-size: 1.5rem;
    display: block;
    width: 30%;
    text-align: center;
    margin: 2rem 0;
  }

  .knap3 {
    background-color: var(--darkgreen);
    color: var(--yellow);
    font-family: "Miller Banner", "Times New Roman";
    padding: 3% 7%;
    border-radius: 50px;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1130px) {
  #img_om_mig {
    display: block;
    height: auto;
    width: 70%;
    margin-left: auto;
  }
}
