* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --beige: #fef6ed;
  --darkgreen: #045416;
  --lightgreen: #658f6f;
  --yellow: #f2c15f;
}

body {
  background-color: var(--beige);
}

html {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin: 2rem;
  background-color: var(--beige);
}

header {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: var(--beige);
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  font-family: "Cambria", "Times New Roman";
  text-transform: uppercase;
  padding: 1.5%;

  /*fjern user agent stylesheet i browser (chrome)*/
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

footer {
  background-color: var(--darkgreen);
  height: 0%;
  margin-top: 3rem;
}

#footertekst {
  color: var(--beige);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  font-family: Miller Banner, "Times New Roman";
  font-style: italic;
  text-transform: uppercase;
  font-size: 2.6rem;
  text-align: center;
  margin-left: 0%;
}

/****************************************tekst***************************************/
h1 {
  color: var(--darkgreen);
  font-family: Miller Banner, "Times New Roman";
  font-style: italic;
  text-transform: uppercase;
  font-size: 3.5rem;
}

h2 {
  color: var(--darkgreen);
  font-family: "cambria";
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 2rem;
}

h3 {
  color: var(--darkgreen);
  font-family: "cambria";
  text-transform: uppercase;
  font-weight: lighter;
}

h4 {
  color: var(--beige);
  font-family: Miller Banner, "Times New Roman";
  font-size: 2rem;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: lighter;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.overskrift_center {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 1rem;
}

.overskrift_left {
  text-decoration: underline;
}

.tekst_center {
  text-align: center;
}

hr {
  border: 1px solid var(--darkgreen);
  margin-bottom: 1rem;
}
/****************************************Margin***************************************/
.margin_bottom2 {
  margin-bottom: 2rem;
}

/****************************************Padding***************************************/
.padding1 {
  padding: 1rem;
}

.padding_bottom2 {
  padding-bottom: 2rem;
}

/****************************************Design***************************************/
.greenbox {
  background-color: var(--lightgreen);
  padding: 2rem;
}

/*original box til logo. Kan omformuleres til knapper*/
.box {
  border-width: 1px;
  border-style: solid;
  border-color: #045416;
  padding: 1%;
  border-radius: 50px;
}

/****************************************Burgermenu***************************************/

li {
  list-style: none;
}

a {
  color: #045416;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

/* kan slettes */
.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}
/* virker ikke */
.nav-link :hover {
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #045416;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    padding-top: 10%;
    flex-direction: column;
    background-color: #f2c15f;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
}
